USE [master]
GO
/****** Object:  Database [OKUL]    Script Date: 31.12.2023 15:30:43 ******/
CREATE DATABASE [OKUL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OKUL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OKUL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OKUL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OKUL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OKUL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OKUL]
GO
/****** Object:  Table [dbo].[ogrenci]    Script Date: 31.12.2023 15:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ogrenci](
	[ogrenciID] [int] IDENTITY(1,1) NOT NULL,
	[ogrenciAdi] [nvarchar](20) NOT NULL,
	[ogrenciSoyadi] [nvarchar](20) NOT NULL,
	[ogrenciGsm] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ogrenci] PRIMARY KEY CLUSTERED 
(
	[ogrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_ogrenciEkle]    Script Date: 31.12.2023 15:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ogrenciEkle](
@ogrenciAdi nvarchar(20),
@ogrenciSoyadi nvarchar(20),
@ogrenciGsm nvarchar(20)
)
AS
BEGIN
INSERT INTO ogrenci (ogrenciAdi, ogrenciSoyadi, ogrenciGsm) VALUES (@ogrenciAdi, @ogrenciSoyadi, @ogrenciGsm)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ogrenciGuncelle]    Script Date: 31.12.2023 15:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ogrenciGuncelle](
@ID int,
@ogrenciAdi nvarchar(20),
@ogrenciSoyadi nvarchar(20),
@ogrenciGsm nvarchar(20)
)
AS
BEGIN
UPDATE ogrenci SET ogrenciAdi = @ogrenciAdi, ogrenciSoyadi = @ogrenciSoyadi, ogrenciGsm = @ogrenciGsm WHERE ogrenciID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ogrenciListele]    Script Date: 31.12.2023 15:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ogrenciListele]
AS
BEGIN
SELECT * FROM ogrenci
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ogrenciSil]    Script Date: 31.12.2023 15:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ogrenciSil](
@ID int
)
AS
BEGIN
DELETE FROM ogrenci WHERE ogrenciID = @ID
END
GO
USE [master]
GO
